{{- $email := "ajchristensen@fastmail.com" -}}

{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if stdinIsATTY -}}
{{-   $email = promptString "Git email" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
