{{- if eq .chezmoi.os "darwin" }}
set -g default-command /opt/homebrew/bin/fish
set -g default-shell /opt/homebrew/bin/fish
{{- end }}
set -g default-terminal "tmux-256color"

set -g prefix C-z
set -g history-limit 100000
setw -g xterm-keys on
set -s escape-time 200
set -sg repeat-time 600
set -s focus-events on

set -g mode-keys emacs
set -g status-keys emacs

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-cpu'
set -g @plugin 'tmux-plugins/tmux-battery'

set -g @plugin 'catppuccin/tmux#v2.1.3'
# Configure the catppuccin plugin
set -g @catppuccin_flavor "mocha"
set -g @catppuccin_window_status_style "rounded"

# Make the status line pretty and add some modules
set -g status-right-length 100
set -g status-left-length 100
set -g status-left ""
set -g status-right "#{E:@catppuccin_status_application}"
set -agF status-right "#{E:@catppuccin_status_cpu}"
set -ag status-right "#{E:@catppuccin_status_session}"
set -ag status-right "#{E:@catppuccin_status_uptime}"
set -agF status-right "#{E:@catppuccin_status_battery}"


run '~/.tmux/plugins/tpm/tpm'
